#define WMAIN_PIN 2 // D4
#define SEWER_PIN 5 // D1

#define WIFI_SSID ""
#define WIFI_PASSWORD ""

#define MQTT_SERVER ""

#define WMAIN_TOPIC "crawlspace/watermain/temperature"
#define SEWER_TOPIC "crawlspace/sewer/temperature"
